{% extends 'base.html'%}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class = "col - 8">
                        <br/><br/>
                        <p align = "justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin a turpis vel leo suscipit dignissim. Cras non placerat tortor, non semper leo. Mauris dignissim
                            eligula a ipsum efficitur ultrices. Vivamus id risus metus. Donec nulla arcu, tempor at consectetur volutpat, vehicula vitae ante. Aliquam tristi
                            que lectus in ante elementum porta. Nam sed tortor
                            congue, accumsan magna non, dignissim est. Etiam quis accumsan justo. Curabitur molestie tellus non porta pellentesque. Nunc venenatis congue dui, in vestibulum sapien volutpat id.
<br/><br/>
Curabitur dolor metus, interdum porttitor sagittis sed, vulputate nec dui. Duis leo mauris, ullamcorper eget tempus dapibus, euismod id quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                            Phasellus molestie dui nec quam semper, in vulputate sapien vulputate. Aliquam rutrum auctor massa, sit amet laoreet felis dictum et.
                            Nunc maximus fringilla nibh, a sagittis turpis sollicitudin ac. Aliquam blandit elementum purus in eleifend. Vivamus commodo tempus felis, tempor fermentum magna malesuada vitae.
                            Donec at pharetra massa. Sed non ex mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
<br/><br/>
Suspendisse gravida arcu ac lacinia lacinia. Sed a dui massa. Suspendisse cursus in risus tempor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Suspendisse at urna felis. Nulla rhoncus laoreet erat ac iaculis. Donec aliquet mollis tincidunt. Integer fermentum porta leo, a bibendum nulla scelerisque eget.
                            Nullam nunc arcu, interdum non ultrices quis, pharetra in metus. In mollis nunc nec consectetur sagittis. Ut lobortis mi sed tempus commodo.
                            Suspendisse porttitor accumsan purus. Nullam sed tortor velit.
</p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}